.content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: purple;
    flex-basis: 60px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: orangered;
    flex-basis: 300px;
    background-color: #444;
    flex-grow: 2;
    flex-shrink: 0;
}

.main__item {
    padding: 15px 15px;
}

.main__item-codigo{
    color: #222;
    background-color: #BBF;
}

.main__item-codigo:focus{
    background-color: #AAD;
}

.okToken {
    color: #9F9;
}

.wrongToken {
    color: #D44;
}

.footer {
    background-color: cyan;
    flex-grow: 1;
}